# Tolkien Knowledge Graph - Dépendances

# HTTP requests
requests>=2.28.0

# Parsing wikitext
mwparserfromhell>=0.6

# RDF
rdflib>=6.0.0

# SHACL validation
pyshacl>=0.20.0

# Pour les prochaines étapes
flask>=2.0.0           # Serveur web Linked Data
# SPARQLWrapper>=2.0.0   # Client SPARQL
